<h1>Checklist#index</h1>

<%= form_tag({:action => "check"}, {:id => 'my_form'}) %>
<center>
<table border=1>
 <tr>
    <th>id</th>
    <th>Descripcion</th>
    <th>Resuelto<br>
        <a href="" onClick="$$('#my_form input.resuelto').each(function(box){box.checked=true});return false;"/>Todos</a>
        <a href="" onClick="$$('#my_form input.resuelto').each(function(box){box.checked=false});return false;"/>Ninguno</a>
    </th>
    <th>Aceptado<br>
        <a href="" onClick="$$('#my_form input.aceptado').each(function(box){box.checked=true});return false;"/>Todos</a>
        <a href="" onClick="$$('#my_form input.aceptado').each(function(box){box.checked=false});return false;"/>Ninguno</a>
    </th>
  </tr>


<% @bichos.each do |stuff| %>
  <tr>
    <td><%= stuff.id %></td>
    <td><%= stuff.description %></td>
    <td>
        <%= check_box_tag "cb2_[#{stuff.id}]", 'yes', stuff.resolved, :class => 'resuelto',  :value => stuff.id %>
    </td>

    <td>
        <%= check_box_tag "cb_[#{stuff.id}]", 'yes', stuff.accepted, :class => 'aceptado',  :value => stuff.id %>
    </td>

  </tr>
<% end %>
</table></center>
<%= submit_tag "Submit Selected" %>

</form>

