<p>Al final podrá encontrar un enlace para avisar de errores e inconsistencias.</p>
<p><b>Sergio A. Alonso</b> - Datos de Contacto:</p>
<ul>
  <li>
     <a href="http://ar.linkedin.com/in/alonsosergio">Perfil en LinkedIn</a>
  </li>
  <li>
     <a href="http://www.twitter.com/karancho">Follow me on Twitter!</a>
  </li>
  <li>
     <a href="http://obelix.bunker.org.ar">Blog</a>
  </li>
  <li>
     <a href="http://www.github.com/karancho">GitHub</a>
  </li>
 
  <li>
    Email: sergio at eim esc edu ar
  </li>


</ul>

<table border="1">
  <tr>
    <th>Reportado por</th>
    <th>Version</th>
    <th>Pagina</th>
    <th>Type</th>
    <th>Descripcion</th>
    <th>Aceptado por Sergio</th>
    <th>Resuelto</th>

    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.name %></td>
    <td><%= bug.version.version %></td>
    <td><%= bug.page %></td>
    <td><%= bug.error_type.errortype %></td>
    <td><%= bug.description %></td>
    <td><%= bug.accepted %></td>
    <td><%= bug.resolved %></td>

    <td><%= link_to 'Show', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <!-- <td> --> <%#= link_to 'Destroy', bug, :confirm => 'Are you sure?', :method => :delete %> <!-- </td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Error / Sugerencia', new_bug_path %>
