<h1>Listing bugs</h1>

<table>
  <tr>
    <th>Accepted</th>
    <th>Resolved</th>
    <th>Name</th>
    <th>Version</th>
    <th>Page</th>
    <th>Type</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.accepted %></td>
    <td><%= bug.resolved %></td>
    <td><%= bug.name %></td>
    <td><%= bug.version_id %></td>
    <td><%= bug.page %></td>
    <td><%= bug.type_id %></td>
    <td><%= bug.description %></td>
    <td><%= link_to 'Show', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <td><%= link_to 'Destroy', bug, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_bug_path %>
