<h1>Listing bugs</h1>

<table>
  <tr>
    <th>Reportado por</th>
    <th>Version</th>
    <th>Pagina</th>
    <th>Type</th>
    <th>Descripcion</th>
    <th>Aceptado</th>
    <th>Resuelto</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.name %></td>
    <td><%= bug.version.version %></td>
    <td><%= bug.page %></td>
    <td><%= bug.type_id %></td>
    <td><%= bug.description %></td>
    <td><%= bug.accepted %></td>
    <td><%= bug.resolved %></td>

    <td><%= link_to 'Show', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <td><%= link_to 'Destroy', bug, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_bug_path %>
