<p id="notice"><%= notice %></p>

<p>
  <b>Reportado por:</b>
  <%= @bug.name %>
</p>

<p>
  <b>Encontrado en version:</b>
  <%= @bug.version.version %>
</p>

<p>
  <b>Página:</b>
  <%= @bug.page %>
</p>

<p>
  <b>Tipo de error:</b>
  <%= @bug.error_type.errortype %>
</p>

<p>
  <b>Aceptado por Sergio: </b>
  <%= @bug.accepted %>
</p>

<p>
  <b>Corregido en la versión actual: </b>
  <%= @bug.resolved %>
</p>



<p>
  <b>Descripción:</b>
  <%= @bug.description %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
