<p id="notice"><%= notice %></p>

<p>
  <b>Accepted:</b>
  <%= @bug.accepted %>
</p>

<p>
  <b>Resolved:</b>
  <%= @bug.resolved %>
</p>

<p>
  <b>Name:</b>
  <%= @bug.name %>
</p>

<p>
  <b>Version:</b>
  <%= @bug.version_id %>
</p>

<p>
  <b>Page:</b>
  <%= @bug.page %>
</p>

<p>
  <b>Type:</b>
  <%= @bug.type_id %>
</p>

<p>
  <b>Description:</b>
  <%= @bug.description %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
